<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bacheca</servlet-name>
        <servlet-class>Bacheca</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Profil</servlet-name>
        <servlet-class>Profil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostFactory</servlet-name>
        <servlet-class>PostFactory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bacheca</servlet-name>
        <url-pattern>/bacheca.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profil</servlet-name>
        <url-pattern>/profilo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostFactory</servlet-name>
        <url-pattern>/PostFactory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>descrizione.html</welcome-file>
    </welcome-file-list>
</web-app>
